@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Contoso University</h1>
    <img src="~/Images/universite.jpg" />
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Courses</h2>

    </div>
</div>